
/* Antares Demo Styles
================================================== */

	/* Page Fonts - https://fonts.google.com/share?selection.family=Cabin:wght@400;500;600;700|Zen+Dots */
    
    .font-main{font-family: 'Raleway', sans-serif!important;}

	/* Body Options */
	body{ font-family: 'Raleway', sans-serif; font-weight: 300; letter-spacing: 0.3px;}
	body *{outline:none;}





    /* Works and blog hover options */
    .keeper, .keeper img{-webkit-transition:all 0.3s;transition:all 0.3s; perspective: 0;}
    .keeper:hover{transform: translateZ(0) scale(0.96);}
    .keeper:hover img{transform: translateZ(0) scale(calc(1/0.96));}


    /* Career slide options */
    .career,.career-content{-webkit-transition:all 1.2s;transition:all 1.2s; perspective: 0; backface-visibility: hidden; transform: translateZ(0px);}
    /* Closed */
    .career.closed{max-height:0px; -webkit-transition:all 0.7s;transition:all 0.7s;}
    .career.closed .career-content{opacity: 0; visibility: hidden; -webkit-transition:all 0.3s;transition:all 0.3s;}
    /* Open */
    .career.open{max-height:1500px;}
    .career.open .career-content{opacity: 1; visibility: visible;}


    /* Footer overlay options */
    .footer-overlay{ flex-flow: row nowrap; }
    .footer-overlay .svg-graphic object.visible-lg{min-width: 1400px;}
    .footer-overlay .svg-graphic,
    .footer-overlay .footer-content{ width:100%; box-sizing: border-box; }
    .footer-overlay .footer-content{ margin-left:-100%; }
