
/* Portfolio fonts and main styles
================================================== */

	/* Page Fonts */
	@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
	.font-main{font-family: 'Outfit', sans-serif !important;}
	/* This demo doesn't have secondary font. You can add while adding .font-secondary{} class */

	/* Body Options */
	body{ font-family: 'Outfit', sans-serif; font-weight: 300; letter-spacing: 0.3px;}
	body *{outline:none;}


/* Styles
================================================== */



/* Hover Effect */
	.hover-cursor .cursor-container .cursor .c-inner{background-color:red;}
	.hover-cursor .cursor-container .cursor.hover .c-inner{-webkit-transform:scale(1.6);transform:scale(1.6);opacity:0.75;}
		@media only screen and (max-width:992px){.hover-cursor .cursor-container{display:none!important;}}
